@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: inherit;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

:-moz-focusring {
  outline: auto;
}

button,
[role="button"] {
  cursor: pointer;
}

/* Custum scroll bar */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(247, 96, 14);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

/* active slide */
.active {
  padding: 2px;
  background-color: #6b7280;
  border-radius: 0px 5px 5px 5px;
  font-weight: bold;
}