@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Cairo", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: inherit;
}

/* Custum scroll bar */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #A4A4A4;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}