@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Cairo", sans-serif;
}

.main {
  min-height: calc(100vh-4rem); 
  overflow-x: auto;
}

/* ==== Change Language Animation ==== */
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-8px) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 0.18s ease-out forwards;
}