@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@import "tailwindcss";

body {
  font-family: "Cairo", sans-serif;
}

/* :root {
  --app-bg: url("/src/assets/light-bg.png");
}

[data-theme="dark"] {
  --app-bg: url("/src/assets/dark-bg.png");
} */

.main {
  min-height: calc(100vh-4rem); 
  overflow-x: auto;
}

/* ==== Change Language Animation ==== */
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-8px) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 0.18s ease-out forwards;
}